<h1>Users who finished the survey: <%= Answer.confirmed_users.count %></h1>
<table>
  <tr>
    <th>user</th>
    <th>image</th>
    <th>question_number</th>
    <th>profile_name</th>
    <th>profile_code</th>
  </tr>
  <% @answers.each do |answer| %>
  <tr>
    <td><%= answer.user %></td>
    <td><%= answer.image %></td>
    <td><%= answer.question_number%></td>
    <td><%= answer.profile_name %></td>
    <td><%= answer.profile_code %></td>
  </tr>
  <% end %>
</table>
