<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
  <title>Questions</title>
  <%= stylesheet_link_tag "questions" %>
</head>
<body>
<div id="container">
  <h3 class="red">Agora você vai ver algumas imagens no centro da tela, para cada uma delas clique no painel (numerados de 1 a 7) que a melhor representa</h3>
  <div class="colmask threecol">
    <div class="colmid">
      <div class="colleft">
        <div class="col1">
          <div class="pic_container">
            <%= link_to image_tag('profiles/feminina.jpg', :class => 'banner'), question_path(@next_question, 3) %>
            <span>3</span>
          </div>
          <div class="pic_container">
            <%= link_to image_tag('profiles/basica.jpg', :class => 'banner'), question_path(@next_question, 2) %>
            <span>2</span>
          </div>
          <div class="pic_container">
            <%= link_to image_tag('profiles/trendy.jpg', :class => 'banner'), question_path(@next_question, 1) %>
            <span>1</span>
          </div>
        </div>
        <div class="col2">
          <div class="pic_container">
            <%= link_to image_tag('profiles/elegante.jpg', :class => 'banner'), question_path(@next_question, 4) %>
            <span>4</span>
          </div>
          <div class="main-picture">
            <%= yield(:main_picture) if content_for?(:main_picture) %>
          </div>
        </div>
        <div class="col3">
          <div class="pic_container">
            <%= link_to image_tag('profiles/tradicional.jpg', :class => 'banner'), question_path(@next_question, 5) %>
            <span>5</span>
          </div>
          <div class="pic_container">
            <%= link_to image_tag('profiles/sexy.jpg', :class => 'banner'), question_path(@next_question, 6) %>
            <span>6</span>
          </div>
          <div class="pic_container">
            <%= link_to image_tag('profiles/fashionista.jpg', :class => 'banner'), question_path(@next_question, 7) %>
            <span>7</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
