<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
  <title>Questions</title>
  <%= stylesheet_link_tag "questions" %>
</head>
<body>

<div id="header">
</div>
<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
      <div class="col1">
        <%= link_to image_tag('feminine.jpg', :class => 'banner'), question_path(@next_question, 4) %>
        <div class="main-picture">
          <%= yield(:main_picture) if content_for?(:main_picture) %>
        </div>
      </div>
			<div class="col2">
        <%= link_to image_tag('casual.jpg', :class => 'banner'), question_path(@next_question, 3) %>
        <%= link_to image_tag('contemporary.jpg', :class => 'banner'), question_path(@next_question, 2) %>
        <%= link_to image_tag('elegant.jpg', :class => 'banner'), question_path(@next_question, 1) %>
			</div>
			<div class="col3">
        <%= link_to image_tag('sexy.jpg', :class => 'banner'), question_path(@next_question, 5) %>
        <%= link_to image_tag('traditional.jpg', :class => 'banner'), question_path(@next_question, 6) %>
        <%= link_to image_tag('trendy.jpg', :class => 'banner'), question_path(@next_question, 7) %>
			</div>
		</div>
	</div>
</div>
<div id="footer">
</div>

</body>
</html>
